.about-menu {
    background-color: #fff; /* Set background color for the menu */
    position: absolute;
    bottom: 60px; /* Adjust according to the tab bar height */
    width: 100%;
    padding: 10px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #ccc;
  }
  
  ion-item {
    padding: 10px;
    cursor: pointer;
  }
  