<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Display the dummy data dynamically -->
  <ion-list>
    <ion-item *ngFor="let item of dummyData">
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Button to change the content -->
  <ion-button (click)="changeContent()">Change Content</ion-button>
</ion-content>
